{% load static %}
{% load bootstrap4 %}
    <!-- About Section start -->
    <div class="section-padding bg-gray">
        <div class="row">
            <img src="{% static 'img/about/banner.png' %}" alt="Imagem">
        </div>
      </div>
      <div class="container">
        {% if messages %}
          {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">
              <button type="button" class="close" data-dismiss="alert"></button>
              <strong>{{ m }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    <!-- About Section End -->
