{% load static %}
    <!-- Footer Section Start -->
<!--    <footer id="footer" class="footer-area section-padding">-->
    <footer>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="#">Ghedev</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->
