{% extends 'base.html' %}
{% block content %}

    <!-- About Section start -->
        {% include 'about.html' %}
    <!-- About Section End -->

    <!-- Team Section Start -->
        {% include 'candidates.html' %}
    <!-- Team Section End -->

    <!-- Testimonial Section Start -->
        {% include 'testimonial.html' %}
    <!-- Testimonial Section End -->

    <!-- Contact Section Start -->
        {% include 'contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
        {% include 'footer.html' %}
    <!-- Footer Section End -->

{% endblock %}
